.attribution {
  font-size: 11px;
  text-align:left;
  display: flex;
  justify-content: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
  background-color: hsl(217, 54%, 11%);
  font-family: outfit;  
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image"
    "text";
  width: 20%;
  background-color: hsl(216, 50%, 16%);
  padding: 1rem;
  border-radius: 20px;
  margin-left: 38%;
}

.image { 
  grid-area: image; 
  height: min-content;
}
.image img{
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading"
    "description"
    "order"
    "creator";
  grid-area: text;
}

.heading { 
  grid-area: heading; 
  color: hsl(0, 0%, 100%);
  font-size: 12px;
}

.description {

  justify-self: start;
  grid-area: description;
  color: hsl(215, 51%, 70%);
}

.order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "price time";
  grid-area: order;
}

.price {

  justify-self: start;
  grid-area: price;
  display: flex;
  align-items: center;
  height: min-content;
  color: hsl(178, 100%, 50%);
  font-size: 14px;
}
.price img{
  margin-right: 1rem;
}

.time {
  justify-self: end;
  grid-area: time;
  display: flex;
  align-items: center;
  height: min-content;
  color: hsl(215, 51%, 70%);
  font-size: 14px;
}

.time img{
  margin-right: 1rem;
}

.creator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "creator_image creator_text";
  justify-self: start;
  grid-area: creator;
  color: hsl(215, 51%, 70%);
  border-top: 1px solid hsl(215, 32%, 27%);
  padding-top: 1rem;
  margin-top: 1rem;
}

.creator_image {
  justify-self: start;
  grid-area: creator_image;
  width: fit-content;

}
.creator_image img{
  width: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.creator_text { 
  grid-area: creator_text; 
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 14px;
}


.name{
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 400px){
  .container{
    width: 100%;
    margin: 4rem 0rem 0rem 0rem;
  }
}